<template id="table-template">
  <article id="card" class="container">
    <table id="table">
      <thead>
	<th scope="col">Ficha</th>
	<th scope="col">Usuario</th>
	<th scope="col">Nombre</th>
	<th scope="col">Cedula</th>
	<th scope="col">Tipo</th>
	<th scope="col">Estado</th>
      </thead>
      <tbody id="table__body"></tbody>
      <tfoot id="table__footer">
      </tfoot>
    </table>
  </article>
</template>

<template id="table-template__body">
  <tr>
    <th scope="col">{initials}</th>
    <td>{uid}</td>
    <td>{displayName}</td>
    <td>{employeeNumber}</td>
    <td>{employeeType}</td>
    <td>{businessCategory}</td>
  </tr>
</template>
